# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Generic
Thumbs.db
Desktop.ini
.DS_Store
._
_.*
*.cache
*.log
*.old
*.zip
*.pem
*~

# Developments
# --------------------------
.env.*
.env
.firebaserc
dist
node_modules

# testing
coverage

# next.js
.next/

# turbo
.turbo

# But Keep these
# --------------------------
!.gitkeep
