# Generic
# --------------------------
Thumbs.db
Desktop.ini
*.cache
*.log
*.old
*.zip
._
*~

# Developments
# --------------------------
.env.*
.env
.firebaserc
dist
node_modules
runtime-config.json
service-account.json

# But Keep these
# --------------------------
!.gitkeep
